body {
    /* background-image: url("images/botanical-garden.jpeg");
    background-size: 2000px 1200px; */
    /* background-color:blanchedalmond; */
}

#botanical {
    /* min-height: 100%;
    min-width: 1024px; */
      
    /* Set up proportionate scaling */
    width: 1920px;
    height: 1080px;
      
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;

    z-index: -10;
}

/* To do */
   /* Page formatting */
   /* Pop up */
   /* hover reaveal note letter */
   /* Interactivity animations? */

#open-interface {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    /* background-color: rgba(136, 242, 157, 0.5);
    padding: 10px, 20px;
    border-radius: 100%; */
    font-size: 5rem;
    font-weight: bold;
    color: black;
}

/* POP UP */
   *, *::after, *::before {
       box-sizing: border-box;
   }

   .popup {
       position: fixed;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%) scale(0);
       transition: 700ms ease-in;
       border: 1px solid black;
       border-radius: 20px;
       z-index: 10;
       background-color: rgba(136, 242, 157, 0.5);
       width: 550px;
       max-width: 80%;
   }

   .popup.active {
    transform: translate(-50%, -50%) scale(1);
   }

   .popup-header {
       padding: 10px 15px;
       display: flex;
       justify-content: space-between;
       align-items: center;
       /* border-bottom: 1px dotted black; */
   }

   .popup-header .title {
       font-size: 1.75rem;
       font-weight: bold;
   }

   .octave-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 10px 15px;
    border-top: 1px dotted black; */
}


   .octave-buttons #octaveDown {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 2.5rem;
    font-weight: bold;
}

    .octave-buttons #octaveUp {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 2.5rem;
    font-weight: bold;
}


   .popup-header .close-button {
       cursor: pointer;
       border: none;
       outline: none;
       background: none;
       font-size: 1.25rem;
       font-weight: bold;
   }

   .flower {
    text-align: center;
    display: block;
    padding: 20px;
    /* padding-top: 10px; */
}

/* SAVE BUTTONS */

/* .save-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
} */

/* #save1 {
    position: absolute;
    top: 105px;
    left: 510px;
} */