body {
    /* background-image: url("images/botanical-garden.jpeg");
    background-size: 2000px 1200px; */
    /* background-color:blanchedalmond; */
}

#botanical {
    /* min-height: 100%;
    min-width: 1024px; */
      
    /* Set up proportionate scaling */
    width: 1920px;
    height: 1080px;
      
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;

    z-index: -10;
}

/* To do */
   /* Page formatting */
   /* Pop up */
   /* hover reaveal note letter */
   /* Interactivity animations? */

#open-interface {
    cursor: pointer;
    border: none;
    outline: none;
    /* background: none; */
    /* background-color: rgba(136, 242, 157, 0.5);
    padding: 10px, 20px;
    border-radius: 100%; */
    font-size: 5rem;
    font-weight: bold;
    color: honeydew;
    background: green;
}

/* POP UP */
   *, *::after, *::before {
       box-sizing: border-box;
   }

   .popup {
       position: fixed;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%) scale(0);
       transition: 700ms ease-in;
       border: 1px solid black;
       border-radius: 20px;
       z-index: 10;
       background-color: rgba(136, 242, 157, 0.5);
       width: 550px;
       max-width: 80%;
   }

   .popup.active {
    transform: translate(-50%, -50%) scale(1);
   }

   .popup-header {
       padding: 10px 15px;
       display: flex;
       justify-content: space-between;
       align-items: center;
       /* border-bottom: 1px dotted black; */
   }

   .popup-header .title {
       font-size: 1.75rem;
       font-weight: bold;
   }

   .octave-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 10px 15px;
    border-top: 1px dotted black; */
}


   .octave-buttons #octaveDown {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 2.5rem;
    font-weight: bold;
}

    .octave-buttons #octaveUp {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 2.5rem;
    font-weight: bold;
}


   .popup-header .close-button {
       cursor: pointer;
       border: none;
       outline: none;
       background: none;
       font-size: 1.25rem;
       font-weight: bold;
   }

   .flower {
    text-align: center;
    display: block;
    padding: 20px;
    /* padding-top: 10px; */
}

/* SAVE BUTTONS */

/* .save-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
} */

/* #save1 {
    position: absolute;
    top: 105px;
    left: 510px;
} */

.save-button {
    cursor: pointer;
    border: none;
    outline: none;
    color: honeydew;
    background: green;
    font-size: 1.5rem;
    font-weight: bold;
}

/* -40, +70 */
#save1 {
    position: fixed;
    left: 120px;
    top: 240px;
}

#save2 {
    position: fixed;
    left: 390px;
    top: 290px;
}
#save3 {
    position: fixed;
    left: 475px;
    top: 180px;
}

#save4 {
    position: fixed;
    left: 535px;
    top: 325px;
}

#save5 {
    position: fixed;
    left: 645px;
    top: 240px;
}

#save6 {
    position: fixed;
    left: 825px;
    top: 180px;
}

#save7 {
    position: fixed;
    left: 840px;
    top: 335px;
}

#save8 {
    position: fixed;
    left: 905px;
    top: 420px;
}

#save9 {
    position: fixed;
    left: 1085px;
    top: 220px;
}

#save10 {
    position: fixed;
    left: 1180px;
    top: 380px;
}

#save11 {
    position: fixed;
    left: 1240px;
    top: 245px;
}

#save12 {
    position: fixed;
    left: 1460px;
    top: 265px;
}

#save13 {
    position: fixed;
    left: 870px;
    top: 600px;
}

#save14 {
    position: fixed;
    left: 1330px;
    top: 545px;
}

#save15 {
    position: fixed;
    left: 330px;
    top: 740px;
}

#save16 {
    position: fixed;
    left: 495px;
    top: 875px;
}

#save17 {
    position: fixed;
    left: 660px;
    top: 800px;
}

#save18 {
    position: fixed;
    left: 1050px;
    top: 935px;
}

#save19 {
    position: fixed;
    left: 1235px;
    top: 715px;
}

#save20 {
    position: fixed;
    left: 1485px;
    top: 870px;
}